.enter_two {
    width: 500px;
    height: 300px;
    margin-top: 46px;
    margin-left: 13px;
}

    .enter_two label {
        color: black;
    }

.et_l {
    float: left;
    width: 540px;
    height: 400px;
    border: #182852 3px solid;
}

.etl_one {
    width: 440px;
    height: 49px;
    background: #182852;
    font-size: 16px;
    line-height: 49px;
}

    .etl_one p {
        margin-left: 19px;
        color: #FFF;
    }

.etl_two {
    width: 440px;
    height: 256px;
    margin-top: 28px;
    color: #3674d2;
}

.etl_one h1 {
    font-weight: normal;
    font-size: 12px;
    position: relative;
    left: 500px;
    top: -50px;
    color: #FFF;
}

    .etl_one h1 a {
        color: #FFF;
    }

.etle_l {
    width: 286px;
    height: 200px;
    float: left;
    margin-left: 32px;
    /*border-right: #182852 1px solid;*/
}

    .etle_l form label {
        font-size: 14px;
        color: #8e8e8e;
    }

.form_l {
    height: 22px;
}

.form_r {
    height: 22px;
}

.form_e {
    height: 22px;
}

.rtltl {
    width: 250px;
    height: 32px;
}

    .rtltl img {
        margin-top: 5px;
    }

    .rtltl span {
        font-size: 12px;
    }

        .rtltl span a {
            color: #3c77a9;
        }

            .rtltl span a:hover {
                text-decoration: underline;
            }

.form_t {
    width: 165px;
    height: 25px;
    margin-left: 60px;
}

.etle_r {
    width: 76px;
    height: 90px;
    float: right;
    margin-right: 89px;
    font-size: 14px;
    line-height: 27px;
}

    .etle_r p {
        line-height: 27px;
    }

    .etle_r a {
        color: #8e8e8e;
    }

        .etle_r a:hover {
            text-decoration: underline;
        }
