@{
    ViewBag.Title = "Index";
}


<div style="height:800px;">
    <div style="width:500px;display:flexbox; height:800px;border:1px red solid">sdfd</div>
    <div style="height:800px;display:flexbox;border:1px black solid">sdfdf</div>
</div>
